<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		.center{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class = 'center'>
		<h1>Quote Board</h1>
		<h2><br>Author: {{name}}</br><br>Age: {{age}}</h2>
		<br><br><p>{{quote}}</p>
		<br><br><br><br><br><br><br><br><br><br>

		<a href="/">To Add Another Quote</a>
	</div>

<!-- Display the variables from the login session here!
 -->

</body>
</html>